<div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
</div>

<div fxLayout="column" *ngIf="project">
    <h3></h3>
    <div fxLayout="row">
        <div fxFlex="400px" style="border: 1px solid; padding: 3px; text-align: center; font-weight: bold;">
            Проект - {{project.name}}
        </div>
        <div fxFlex="400px" style="border: 1px solid; text-align: center; font-weight: bold;">
            Поиск групп
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="400px" style="border: 1px solid; padding: 3px;"
             (dragover)="allowDrop($event)" (drop)="onDrop($event)">
            <nav>
                <div *ngFor="let group of project?.groups" (click)="goToGroupInfo(group.cn)">
                    {{group.cn}}
                </div>
            </nav>
            <div *ngIf="!project?.groups">
                У проекта нет групп.
            </div>
        </div>
        <div fxFlex="400px" style="border: 1px solid; text-align: center;">
            <group-search></group-search>
        </div>
    </div>
</div>
<button type="button" class="btn btn-default" routerLink="/main">Вернуться</button>