<div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
</div>

<div style="padding: 5px;" fxLayout="column">
    <div>Проекты</div>
    <div *ngFor="let project of projects" style="padding: 5px;"
         fxLayout="row"
         fxLayoutAlign="space-between center"
         fxLayoutGap="15px">
        <nav>
            <div (click)="goToProjectGroup(project.id)">
                {{project.name}}
            </div>
        </nav>
        <div fxLayout="row" fxLayoutAlign="end center">
            <div>
                <button class="btn btn-default" (click)="editProject(project.id)">Редактировать</button>
            </div>
            <div>
                <button class="btn btn-default" (click)="deleteProject(project)">Удалить</button>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="createProject()">Добавить проект</button>
</div>