<div fxLayout="column">
    <div *ngIf="user?.displayName" fxLayout="row" style="border: solid 1px; padding: 5px;">
        <div fxFlex="100px">Сотрудник</div>
        <div>{{user.displayName}}</div>
    </div>
    <div *ngIf="user?.physicalDeliveryOfficeName" fxLayout="row" style="border: solid 1px; padding: 5px;">
        <div fxFlex="100px">Офис</div>
        <div>{{user.physicalDeliveryOfficeName}}</div>
    </div>
    <div *ngIf="user?.mail" fxLayout="row" style="border: solid 1px; padding: 5px;">
        <div fxFlex="100px">Email</div>
        <div>{{user.mail}}</div>
    </div>
    <div *ngIf="user?.mobile" fxLayout="row" style="border: solid 1px; padding: 5px;">
        <div fxFlex="100px">Телефон</div>
        <div>{{user.mobile}}</div>
    </div>
    <div *ngIf="user?.title" fxLayout="row" style="border: solid 1px; padding: 5px;">
        <div fxFlex="100px">Должность</div>
        <div>{{user.title}}</div>
    </div>
    <div *ngIf="user?.memberOf" fxLayout="row" style="border: solid 1px; padding: 5px;">
        <div fxFlex="100px">Группы</div>
        <div fxLayout="column">
            <div *ngFor="let group of user.memberOf">
                {{group}}
            </div>
        </div>
    </div>
</div>