<div class="container" *ngIf="employeeForm" fxFlex="500px">
    <h3>Форма добавления пользователя</h3>
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{errorMessage}}
    </div>

    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm)">
        <div class="form-group">
            <label for="firstName">Имя</label>
            <input id="firstName" type="text" class="form-control" formControlName="firstName" required />
            <div *ngIf="formErrors.firstName" class="alert alert-danger">
                {{ formErrors.firstName }}
            </div>
        </div>
        <div class="form-group">
            <label for="secondName">Фамилия</label>
            <input id="secondName" type="text" class="form-control" formControlName="secondName" required />
            <div *ngIf="formErrors.secondName" class="alert alert-danger">
                {{ formErrors.secondName }}
            </div>
        </div>
        <div class="form-group">
            <label for="age">Возраст</label>
            <input id="age" class="form-control" formControlName="age" required />
            <div *ngIf="formErrors.age" class="alert alert-danger">
                {{ formErrors.age }}
            </div>
        </div>
        <div class="form-group">
            <input type="radio" formControlName="gender" value="MALE"> Мужской
            <input type="radio" formControlName="gender" value="FEMALE"> Женский
        </div>
        <button type="button" class="btn btn-default" (click)="goBack()">Вернуться</button>
        <button type="submit" class="btn btn-default" [disabled]="employeeForm.invalid">Сохранить</button>
    </form>
</div>