<div class="container" *ngIf="rateForm" fxFlex="500px">
    <h2 md-dialog-title>Занятость на проекте</h2>
    <md-dialog-content>
        <form [formGroup]="rateForm" (ngSubmit)="onSubmit(rateForm)">
            <p>{{dialogText}}</p>
            <div class="form-group">
                <label for="rate">Занятость на проекте в процентах</label>
                <input id="rate" type="text" class="form-control" formControlName="rate" required />
                <div *ngIf="formErrors.rate" class="alert alert-danger">
                    {{ formErrors.rate }}
                </div>
            </div>
            <button md-button class="btn btn-default" type="submit" [disabled]="rateForm.invalid">Ок</button>
            <button md-dialog-close md-button class="btn btn-default">Отмена</button>
        </form>
    </md-dialog-content>
</div>