<div fxLayout="column" fxLayoutAlign="space-around center">
    <div>
        <h1>Angular 2</h1>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div style="padding: 10px;">
        footer
    </div>
</div>