<div class="container" *ngIf="projectForm" fxFlex="500px">
    <h3>Форма добавления проекта</h3>
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{errorMessage}}
    </div>

    <form [formGroup]="projectForm" (ngSubmit)="onSubmit(projectForm)">
        <div class="form-group">
            <label for="name">Имя</label>
            <input id="name" type="text" class="form-control" formControlName="name" required />
            <div *ngIf="formErrors.firstName" class="alert alert-danger">
                {{ formErrors.name }}
            </div>
        </div>
        <button type="button" class="btn btn-default" (click)="goBack()">Вернуться</button>
        <button type="submit" class="btn btn-default" [disabled]="projectForm.invalid">Сохранить</button>
    </form>
</div>