<div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
</div>

<div fxLayout="column" *ngIf="project">
    <h3>{{project.cn}}</h3>
    <div fxLayout="row">
        <div fxFlex="300px" style="border: 1px solid; padding: 3px;">Сотрудник</div>
        <div fxFlex="120px" style="border: 1px solid;">Занятость в %</div>
    </div>
    <div *ngFor="let utilization of project.utilizations">
        <div fxFlex="300px" style="border: 1px solid; padding: 3px;" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                {{utilization.employee.firstName}} {{utilization.employee.secondName}}
            </div>
            <div>
                <button class="btn btn-default" (click)="deleteUtilization(utilization.id)">Удалить</button>
            </div>
        </div>
        <div fxFlex="120px" style="border: 1px solid; padding: 3px;">
            <input type="text" #inputRate (blur)="updateUtilization(inputRate.value, utilization.id)" value="{{utilization.rate}}" style="width: 95%;"/>
        </div>
    </div>
</div>
<button type="button" class="btn btn-default" routerLink="/staff">Вернуться</button>