<div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
</div>

<div fxLayout="column" style="padding: 10px;">
    <div fxLayout="row" style="padding: 5px;">
        <div fxFlex="120px">Название группы</div>
        <div>
            <input type="text" [(ngModel)]="cn">
        </div>
    </div>
    <div fxLayoutAlign="end center">
        <div>
            <button class="btn" (click)="findGroups()">Найти</button>
        </div>
    </div>
    <div *ngFor="let groupLdap of pagedItems" fxLayout="row" fxLayoutGap="10px" style="padding: 5px;">
        <nav>
            <div draggable="true" (dragstart)="onDragStart($event,groupLdap.cn)" fxLayout="row">
                <div>{{groupLdap.cn}}</div>
            </div>
        </nav>
    </div>
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
</div>