<div md-dialog-title>{{title}}</div>
<div md-dialog-content>
    <p>{{message}}</p>
    <button md-raised-button (click)="dialogRef.close(true)">Ок</button>
    <button md-button (click)="dialogRef.close()">Отмена</button>
</div>