<!--
<md-tab-group [class.fix]="fix">
    <md-tab label="Пользователи">
        <user-search></user-search>
    </md-tab>
    <md-tab label="Проекты">
        <project-list></project-list>
    </md-tab>
</md-tab-group>-->
<div fxLayout="row">
    <div>
        <user-search></user-search>
    </div>
    <div>
        <project-list></project-list>
    </div>
</div>