<div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
</div>

<div fxLayout="row">
    <div style="padding: 5px;" fxLayout="column">
        <div>Сотрудники</div>
        <div *ngFor="let employee of employees" style="border: 1px solid; padding: 5px;"
             fxLayout="row"
             fxLayoutAlign="space-between center"
             fxLayoutGap="15px">
            <div draggable="true" (dragstart)="onDragStart($event,employee)" fxFlex="80">
                {{employee.firstName}} {{employee.secondName}}
            </div>
            <div fxLayout="row" fxLayoutAlign="end center">
                <div>
                    <button class="btn btn-default" (click)="editEmpoyee(employee.id)">Редактировать</button>
                </div>
                <div>
                    <button class="btn btn-default" (click)="deleteEmployee(employee)">Удалить</button>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" (click)="createEmployee()">Добавить сотрудника</button>
    </div>
    <div style="padding: 5px;" fxLayout="column">
        <div>Проекты</div>
        <div *ngFor="let project of projects" style="border: 1px solid; padding: 5px;"
             fxLayout="row"
             fxLayoutAlign="space-between center"
             fxLayoutGap="15px">
            <nav>
                <div (drop)="onDrop($event, project)" (dragover)="allowDrop($event)"
                     (click)="showProject(project.id)">
                    {{project.name}}
                </div>
            </nav>
            <div fxLayout="row" fxLayoutAlign="end center">
                <div>
                    <button class="btn btn-default" (click)="editProject(project.id)">Редактировать</button>
                </div>
                <div>
                    <button class="btn btn-default" (click)="deleteProject(project)">Удалить</button>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" (click)="createProject()">Добавить проект</button>
    </div>
</div>

