<div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
</div>
<div>
        <div fxLayout="column" style="padding: 10px;">
            <div fxLayout="row" style="padding: 5px;">
                <div fxFlex="100px">Офис</div>
                <div>
                    <select [(ngModel)]="selectedOffice">
                        <option *ngFor="let office of offices" [value]="office.value">{{office.name}}</option>
                    </select>
                </div>
            </div>
            <div fxLayout="row" style="padding: 5px;">
                <div fxFlex="100px">Фамилия имя</div>
                <div>
                    <input type="text" [(ngModel)]="searchName">
                </div>
            </div>
            <div fxLayout="row" style="padding: 5px;">
                <div fxFlex="100px">Должность</div>
                <div>
                    <input type="text" [(ngModel)]="searchTitle">
                </div>
            </div>
            <div fxLayoutAlign="end center">
                <div>
                    <button class="btn" (click)="findUsers()">Найти</button>
                </div>
            </div>
        </div>
        <div *ngFor="let userLdap of pagedItems" fxLayout="row" fxLayoutGap="10px" style="border: solid black 1px; padding: 5px;">
            <nav>
                <div (click)="goToPageUser(userLdap.mail)" fxLayout="row">
                    <div style="width: 150px;">{{userLdap.displayName}}</div>
                    <div>{{userLdap.title}}</div>
                </div>
            </nav>
        </div>
        <!-- pager -->
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
</div>